<%- include("../partials/header") %>

<div class="main-body">
    <h1>All red panels will be listed here</h1>
    <a href="/redPanel/new">Back</a>
</div>



<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>