<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report KDL</title>
    <link rel="stylesheet" href="/app.css">
    <!-- <link rel="icon" type="image/png" href="/pictures/LOGO.png"> -->
    <link rel="icon" type="image/png" href="/pictures/Subtract.svg">
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script> -->
    <script src="/moment.min.js"></script>

</head>

<body>

    <div id="flash">
        <% if(success && success.length) {%>
            <div class="success">
                <%= success %>
            </div>
        <% } %>
        <% if(error && error.length) {%>
            <div class="error">
                <%= error %>
            </div>
        <% } %>
    </div>