<div class="sidebar">

    <div class="side-header">

        <div class="sidebar-items" id="sidebar-items">
            <div class="logo">
                <!-- <a href="/"><img style="height: 15vh;" src="/pictures/LOGO.png" alt="kwena"></a> -->
                <a href="/"><img style="height: 20vh;" src="/pictures/Group2.svg" alt="declaration"></a>
                <!-- <a href="/"><img style="height: 25vh;" src="/pictures/Subtract.svg" alt="logo"></a> -->
            </div>
            <ul id="side-list">
                <li class="side-item <% if (title === 'home') { %>selected <% } %>">
                    <a <% if (title === 'home') { %>id='select'<% } %> href="/"><strong>Home</strong></a>
                </li>
                
                <li class="side-item <% if (title === 'production-dash') { %> selected <% } %>">
                    <a <% if (title === 'production-dash') { %>id='select'<% } %> href="/production"><strong>Mining Production</strong></a>
                </li>
                <li class="side-item <% if (title === 'TARP-Red') { %>selected <% } %> ">
                    <a <% if (title === 'TARP-Red') { %>id='select'<% } %> href="/redPanel"><strong>TARP Red Panels</strong> </a>
                </li>

                <li class="side-item  <% if (title === 'breakdowns') { %>selected <% } %>">
                    <a <% if (title === 'breakdowns') { %>id='select'<% } %> href="/breakdowns"><strong>Breakdowns</strong></a>
                </li>

                <li class="side-item  <% if (title === 'sections') { %>selected <% } %>">
                    <a <% if (title === 'sections') { %>id='select'<% } %> href="/sections"><strong>Sections</strong></a>
                </li>
                
                <li class="side-item  <% if (title === 'assets') { %>selected <% } %>">
                        <a <% if (title === 'assets') { %>id='select'<% } %> href="/tmms"><strong>Engineering Assets</strong></a>
                </li>
                
                <% if(locals.currentUser && locals.currentUser.isAdmin){ %>
                    <li class="side-item  <% if (title === 'production-calendar') { %>selected <% } %>">
                        <a <% if (title === 'production-calendar') { %>id='select'<% } %> href="/productionCalendar"><strong>Production Calendar</strong></a>
                    </li>
                <% } %>
                <% if(locals.currentUser && locals.currentUser.isAdmin){ %>
                    <li class="side-item  <% if (title === 'shifts') { %>selected <% } %>">
                        <a <% if (title === 'shifts') { %>id='select'<% } %> href="/shifts"><strong>Shift Classes</strong></a>
                    </li>
                <% } %>
                <% if(locals.currentUser && locals.currentUser.isAdmin){ %>
                    <li class="side-item  <% if (title === 'users') { %>selected <% } %>">
                        <a <% if (title === 'users') { %>id='select'<% } %> href="/users"><strong>Users</strong></a>
                    </li>
                <% } %>
                <% if(!locals.currentUser){ %>
                    <li class="side-item  <% if (title === 'Login') { %>selected <% } %>">
                        <a <% if (title === 'Login') { %>id='select'<% } %> href="/login"><strong>Log In</strong></a>
                    </li>
                    <li class="side-item <% if (title === 'Register') { %>selected <% } %>">
                        <a <% if (title === 'Register') { %>id='select'<% } %> href="/users/newRequest"><strong>Request Access</strong></a>
                    </li>
                <% } else { %>
                <li class="side-item">
                    <a href="/logout"><strong>Log Out</strong></a> 
                </li>
                <% } %>
            </ul>
        </div>
    </div>



    <div class="side-footer">
        <% if(locals.currentUser){ %>
        <p id="log-in">Logged in as: <strong><%= locals.currentUser.preferredName %></strong></p>
        <% } %>
        <p>
            <% if (locals.currentUser && locals.currentUser.isAdmin){ %>
        <h5>You're an admin</h5>
        <% } %>
        </p>
    </div>

</div>