<div class="sidebar">

    <div class="side-header">

        <div class="sidebar-items" id="sidebar-items">
            <div class="logo">
                <a href="/"><img src="/pictures/LOGO.png" alt="kwena"></a>
            </div>
            <ul id="side-list">
                <li class="side-item">
                    <a href="/">Home</a>
                </li>
                <li class="side-item">
                    <a href="/sections">Production Report</a>
                </li>
                <li class="side-item">
                    <a href="/production">Production Dashboard</a>
                </li>
                <li class="side-item">
                    <a href="/redPanel">TARP Red tracker</a>
                </li>
                <li class="side-item">
                    <a href="/sections">Sections</a>
                </li>
                <li class="side-item">
                    <a href="/login">Login</a>
                </li>
                <li class="side-item">
                    <a href="/register">Register</a>
                </li>
                <li class="side-item">
                    <a href="">Logout</a>
                </li>
            </ul>
        </div>
    </div>



    <div class="side-footer">
        <p>v1.0.0</p>
    </div>

</div>