<div class="sidebar">

    <div class="side-header">

        <div class="sidebar-items" id="sidebar-items">
            <div class="logo">
                <!-- <a href="/"><img src="/pictures/LOGO.png" alt="kwena"></a> -->
                <a href="/"><img style="height: 25vh;" src="/pictures/Subtract.svg" alt="logo"></a>
            </div>
            <ul id="side-list">
                <li class="side-item <% if (title === 'home') { %>selected <% } %>">
                    <a href="/">Home</a>
                </li>
                <li class="side-item <% if (title === 'production-report') { %>selected <% } %> ">
                    <a href="/sections">Add Report</a>
                </li>
                <li class="side-item <% if (title === 'production-dash') { %>selected <% } %>">
                    <a href="/production">Production Dashboard</a>
                </li>
                <li class="side-item <% if (title === 'TARP-Red') { %>selected <% } %> ">
                    <a href="/redPanel">TARP Red tracker</a>
                </li>
                <li class="side-item  <% if (title === 'sections') { %>selected <% } %>">
                    <a href="/sections">Sections</a>
                </li>
                <% if(!currentUser){ %>
                <li class="side-item  <% if (title === 'Login') { %>selected <% } %>">
                    <a href="/login">Log In</a>
                </li>
                <li class="side-item <% if (title === 'Register') { %>selected <% } %>">
                    <a href="/register">Register</a>
                </li>
                <% } else { %>
                <li class="side-item">
                    <a href="/logout">Log Out</a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>



    <div class="side-footer">
        <% if(currentUser){ %>
        <p id="log-in">Logged in as: <strong><%= currentUser.username %></strong></p>
        <% } %>
        <p>
            <% if (currentUser && currentUser.isAdmin){ %>
        <h5>You're an admin</h5>
        <% } %>
        </p>
        <!-- <p>v1.0.0</p> -->
    </div>

</div>