<div class="sidebar">

    <div class="side-header">

        <div class="sidebar-items">
            <div class="logo">
                <a href="/"><img src="/pictures/LOGO.png" alt="kwena"></a>
            </div>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/sections">Production Report</a>
                </li>
                <li>
                    <a href="/production">View Production Report</a>
                </li>
                <li>
                    <a href="/redPanel">TARP Red tracker</a>
                </li>
                <li>
                    <a href="/sections">Sections</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/register">Register</a>
                </li>
                <li>
                    <a href="#">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    
    

    <div class="side-footer">
        <p>v1.0.0</p>
    </div>
    
</div>