<%- include("../partials/header") %>

<div class="main-body">
    <div class="element">


        <h3>Add A New Section</h3>

        <form action="/sections" method="post">

            <table class="form-row">
                <tr>
                    <td class="form-row">
                        <label for="section">Section:</label>
                    </td>
                    <td class="form-row">
                        <select style="width: 100%;" name="section[name]" id="section" required>
                            <option value=""></option>
                            <option value="MKA">MKA</option>
                            <option value="MKB">MKB</option>
                            <option value="MKC">MKC</option>
                            <option value="MKC-Top">MKC-Top</option>
                            <option value="MKD">MKD</option>
                            <option value="MKD-X">MKD-X</option>
                            <option value="MKG">MKG</option>
                            <option value="MKW">MKW</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="form-row">
                        <label for="mineOverseer">Mine Overseer:</label>
                    </td>
                    <td class="form-row">
                        <select name="section[mineOverseer]" id="mineOverseer" required>
                            <option value=""></option>
                            <option value="Tommie">Tommie de Meyer</option>
                            <option value="September">September Mangali</option>
                            <option value="Berlinda">Berlinda Mosesane</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="form-row" colspan="2">
                        <input style="width: 100%;" type="submit" value="Add Section!">
                    </td>
                </tr>
            </table>
        </form>

    </div>
</div>


<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>