<%- include("partials/header") %>

<div class="main-body">
    <div class="welcome">
        <a href="/production" class="button">Get Started &#128221;</a>
    </div>

</div>


<%- include("partials/footer") %>