<%- include("partials/header") %>

<!-- <div class="main-body"> -->
    <div class="welcome">
        <img src="/pictures/Group2.svg" alt="logo" style="margin-bottom: 10px;">
        <a href="/production" class="button">Database is down. Contact admin</a>
    </div>

<!-- </div> -->


<%- include("partials/footer") %>