<%- include("partials/header") %>

<div class="main-body">
    <div class="log-in-welcome">
        <p>Welcome to Repport Me!</p>
        <p><%=title%></p>
    </div>

</div>


<%- include("partials/sidebar") %>
<%- include("partials/footer") %>