<%- include("../partials/header") %>

<div class="main-body">
    <div class="element">
        <h2>Add New Asset</h2>
        <form action="/tmms" method="post">
            <div class="flex-form">
                <div class="flex-row">
                    <label for="tmm-cat">Category</label>
                    <select name="TMM[category]" id="tmm-cat" required>
                        <option value="" selected disabled>Select TMM Cat</option>
                        <option value="roofBolter">Roof Bolter</option>
                        <option value="drillRig">Drill Rig</option>
                        <option value="LHD">LHD</option>
                        <option value="UV">UV</option>
                        <option value="LDV">LDV</option>
                        <option value="electrical">Electrical</option>
                        <option value="mechanical">Mechanical</option>
                        <option value="ug_belts">UG Belts</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div class="flex-row">
                    <label for="asset_id">Name/ID</label>
                    <input type="text" id="asset_id" name="TMM[name]" onkeyup="validatePanelName(event)" size="7" required>
                </div>
                <div class="flex-row">
                    <input type="submit" value="Submit">
                </div>
            </div>
        </form>
        <br>
        <div>
            <a href="/tmms">Dashboard</a>
        </div>
    </div>
</div>

<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>