<%- include("../partials/header") %>

<div class="main-body">
    <div class="element">
        <div class="heading">
            <h2>Production Report</h2>
            <div class="myBtnContainer">
                <button>Morning Shift</button>
                <button>Back Shift</button>
            </div>
            <!-- <p> <span><a href="#">Night</a></span> | <span><a href="#">Day</a></span> | <span><a href="#">Afternoon</a></span></p> -->
        </div>

        <div>
        <table>
            <thead>
                <tr>
                    <th>Section</th>
                    <th>TARP Red Panels</th>
                    <th>Blasted Panels</th>
                    <th>Cleaned Panels</th>
                    <th>Supported Panels</th>
                </tr>
            </thead>
            <tbody>
        <!-- forEach goes here -->
                
                    <tr>
                        <td>
                            <a href="#">
                                Name of Section
                            </a>
                        </td>
                        <td>Red Panels</td>
                        <td>Blasted Panels</td>
                        <td>Cleaned Panels</td>
                        <td>Supported Panels</td>
                    </tr>

        <!-- forEach ends here -->
            </tbody>
        </table>
        </div>
    </div>
</div>




<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>