<%- include("../partials/header") %>


<div class="main-body">
    <div class="element">
        <h3>Gain Access!</h3>
        <form method="POST" action="/login">
            <div class="flex-form">
                <div class="flex-row">
                    <label for="username">Username:</label>
                    <input id="username" type="text" name="username" placeholder="my_username" required>
                </div>
                <div class="flex-row">
                    <label for="password">Password:</label>
                    <input id="password" type="password" name="password" placeholder="my_password" required>
                </div>
                <div class="flex-row">
                    <input type="submit" value="Log In!">
                </div>
            </div>
            
            <!-- <a href="/forgot">Forgot password?</a> -->
        </form>
    </div>
</div>

<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>