<%- include("../partials/header") %>


<div class="main-body">
    <div class="element">
        <form method="POST" action="/reset/<%= token %>">
            <legend>Reset Password</legend>
            <hr>
            <div class="flex-form">
                <div class="flex-row">
                    <label for="new_password">New Password:</label>
                    <input id="new_password" type="password" name="password" placeholder="new_password">
                </div>
                <div class="flex-row">
                    <label for="confirm">Confirm Password:</label>
                    <input id="confirm" type="password" name="confirm" placeholder="confirm_password">
                </div>
                <div class="flex-row">
                    <input type="submit" value="Update Password">
                </div>
            </div>
        </form>
    </div>
</div>

<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>