<%- include("../partials/header") %>

<div class="main-body">
    <div class="element">
        <div id="fromDB">
            <div id="allAllocatedResources">
                <%= JSON.stringify(allocations) %>
            </div>
        </div>

        <h2>Resource Allocation</h2>
        <div>
            <input type="date" name="allocationToday" id="todayDate" oninput="sortAllocationIndex()">
        </div>
        <br>
        <div id="tablesForAllocations">
            
        </div>

        <% if (locals.currentUser) { %>
            <% const occ = ["Miner", "Supervisor(Shift)", "Mine_Overseer"]%>
            <% if (locals.currentUser.isAdmin ||  occ.indexOf(locals.currentUser.occupation) > -1) { %>
                <hr>
                <a class="button" href="resource/new">Add New Allocation</a>
            <% } %>
        <% } %>
    </div>
</div>

<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>