<%- include("../partials/header") %>

<div class="main-body">
    <div class="element">
        <h2>Add New Shift Class</h2>
        <form action="/shifts" method="post">
            <div class="flex-form">
                <div class="flex-row">
                    <label for="shift_name">Name/ID</label>
                    <input type="text" id="shift_name" name="shift[name]" onkeyup="validatePanelName(event)" size="10" required>
                </div>
                <div class="flex-row">
                    <label for="shift_start">Start Time</label>
                    <input type="time" name="shift[start]" id="shift_start" required>
                </div>
                <div class="flex-row">
                    <label for="shift_end">End Time</label>
                    <input type="time" name="shift[end]" id="shift_end" required>
                </div>
                <div class="flex-row">
                    <label for="shift_end">Overlaps to next day?</label>
                    <div>
                        <label for="overlap_false">No</label>
                        <input type="radio" name="shift[overlap]" id="overlap_false" value="false" checked>
                        <label for="overlap_true">Yes</label>
                        <input type="radio" name="shift[overlap]" id="overlap_true" value="true">
                    </div>
                </div>
                <div class="flex-row">
                    <input type="submit" value="Submit">
                </div>
            </div>
        </form>
        <div>
            <a href="/shifts">Dashboard</a>
        </div>
    </div>
</div>
<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>